/** {
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}*/

body {
    margin: 0;
    overflow-x: hidden;
}

#sidebar-wrapper {
    margin: 0;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    background-color: #040404;
    border-color: #040404;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
        color: #fff;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

    #sidebar-wrapper .list-group-item {
        width: 15rem;
        color: #a3a3a3;
        background-color: #040404;
        font-size: large;
    }

        #sidebar-wrapper .list-group-item:hover {
            color: #fff;
        }

        #sidebar-wrapper .list-group-item.active {
            color: #fff;
            height: 100%;
            width: 95%;
            padding-left: 15px;
            margin-left: 5px;
            background-color: #282828;
        }

nav {
    background-color: #090909;
    border-color: #090909;
}

.nav-link {
    color: #fff;
}

#navbarDropdown {
    height: 100%;
    width: 100%;
    background-color: #121212
}


    #navbarDropdown:hover {
        height: 100%;
        width: 100%;
        color: #fff;
        background-color: #282828
    }
    #navbarDropdown:focus {
        height: 100%;
        width: 100%;
        color: #fff;
        background-color: #282828
    }

.dropdown-menu {
    color: red;
    background-color: #282828
}


.dropdown-menu .dropdown-item {
    color: #fff;
}

    .dropdown-menu .dropdown-item:hover {
        background-color: #3f3f3f
    }

#search {
    position: absolute;
    width: 400px;
    height: 80%;
    background-color: #fff;
}

#seachbar {
    width: 200px;
}

#signup {
    font-size: 14px;
    margin-right: 20px;
    color: #fff;
}

    #signup:hover {
        background-color: #a3a3a3;
        border-radius: 1.5em;
        color: #000;
    }

#login {
    text-align: center;
    font-size: 14px;
    width: 120px;
    height: 100%;
    color: black;
    background-color: #fff;
}

    #login:hover {
        background-color: #a3a3a3;
    }

#page-content-wrapper {
    min-width: 100vw;
    background-color: #121212;
    border-color: #121212;
    color: #fff;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.card {
    height: 242px;
    background-color: #282828;
    margin-bottom: 10px;
}

    .card .card-body p {
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: small;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

.play-card {
    text-align: center;
    position: absolute;
    line-height: 44px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgb(36, 197, 36);
    right: 10px;
    bottom: 10px;
    display: none;
}

.card:hover .play-card {
    display: block;
}

.play-card:hover {
    background-color: rgb(14, 141, 9);
}

#now-playing-bar {
    height: 93px;
    background-color: #282828;
    z-index: 1;
}

.player-control {
    color: #a3a3a3;
}

.control-button-wrapper {
    line-height: 90px;
    display: inline;
    vertical-align: center;
}

.player-control > .control-button-wrapper i {
    color: #a3a3a3;
}

.fa-redo {
    transform: scaleX(-1) rotate(90deg);
}

#play-button {
    font-size: 26px;
    vertical-align: sub;
}

    #play-button:hover {
        font-size: 30px;
        vertical-align: sub;
    }

.player-control i {
    padding: 10px;
}

    .player-control i:hover {
        color: #fff;
    }

.player-control .fa-play-circle:hover {
    font-size: 30px;
}

#content {
    height: 49%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #a3a3a3 #040404;
    z-index: 2;
}
